body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 200px;
    background-color: #13f4f4;
}

.flex {
    width: 100px;
    height: 100px;
    background-color: steelblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin-top: 20px;

}

.grid {
    background-color: tomato;
    color: white;
    padding: 30px;
    text-align: center;
    font-weight: bold;
}