body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    background-color: #f9fafb;
    color: #333;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2563eb;
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
}

.navbar ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

.cards {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin: 30px 0;
    flex-wrap: wrap;
}

.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    width: 200px;
    text-align: center;
    padding: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;

}

.gallery img{
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
}

.float-layout {
    display: flex;
    gap: 40px;
    margin: 30px 0;
}

.flex{
    background: #fbbf24;
    flex: 1;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    column-gap: 5px;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "sidebar main" "sidebar footer";
    gap: 20px;
    margin-top: 30px;
}

.sidebar {
    grid-area: sidebar;
    background: #a7f3d0;
    padding: 20px;
    border-radius: 10px;

}

.main {
    grid-area: main;
    background: #fcd34d;
    padding: 20px;
    border-radius: 10px;

}

.footer {
    grid-area: footer;
    background: #dbeafe;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.dashboard h2 {
    color: #1e3a8a;
}
