body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f6f8;
    padding: 20px;
}

.section{
    background: rgba(159, 100, 146, 0.267);
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.spinner {
    
    width: 40px;
    height: 40px;
    border: 4px solid #c04141;
    border-radius: 50%;
    border-top: 4px solid rgb(41, 51, 156);
    animation-name:spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    margin-bottom: 20px;
   
}
@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}



.badge{
    position: relative;
    display: inline-block;
    padding: 15px 10px;
    background: #333;
    color: #fff;
    border-radius: 5px;
}

.badge span{
    position: absolute;
    top: -8px;
    right: -8px;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    animation: pulse 1.5s infinite;
}
@keyframes pulse{
    0%{transform: scale(1);
    opacity: 1;
}
50%{
    transform: scale(1.4);
    opacity: 0.5;
}
100%{
    transform: scale(1);
    opacity: 1;
}
}


.attention-btn {
    padding: 15px 30px;
    font-size: 16px;
    border: none;
    color: #fff;
    background: #28a745;
    border-radius: 5px;
    cursor: pointer;
    animation: bounce 1.5s infinite;
}

@keyframes bounce{
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
}

.banner{
    animation: slideText 10s linear infinite;
    
}
.banner p{
    color: tomato;
}

@keyframes slideText {
    0%{transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
    
}

.card {
    width: 250px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 16px 15px rgba(0, 0,0, 0.15);
    transition: transform 1s;
}

.card:hover {
    transform: scale(1.05);
}