.glow form input{
    display: block;
    width: 100%;
    margin: 10px;
    padding: 10px;
    border: 1px solid;
    transition: 0.3s;
}
.glow form input:focus{
    border-color: blue;
    box-shadow: 0 0 12px rgba(0, 123, 255, 0.4);
    outline: none;
}

.press-btn {
    padding: 12px 18px;
    border: none;
    background:green;
    color: white;
    font-size: 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.1s;

}

.press-btn:active{
    transform: translateY(2px) scale(0.98);
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.3);
}

.styled-text::first-letter{
    font-size: 48px;
    font-weight: bold;
    color: crimson;
}

::selection {
    background: yellowgreen;
    color: black;
}


.styled-text::first-letter {
  font-size: 48px;
  font-weight: bold;
  color: crimson;
}

::selection {
  background: yellow;
  color: black;
}

.price-box {
  width: 300px;
  margin: 20px auto;
  padding: 16px;
  border: 3px solid #333;
  border-radius: 10px;
  background: #1fabe7;
  box-sizing: border-box;
}

.price {
  font-size: 24px;
  font-weight: bold;
}

