body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 100px;
}

.navbar {
    position: sticky;
    top: 0;
    background:pink;
    color:blueviolet;
    padding: 15px;
    text-align: center;
}

.card {
    position: relative;
    width: 400px;
    margin: 40px auto;
    border: 2px solid #ccc;
    text-align: center;
    padding: 10px;
    background-color: #ff4081;
}

.sale {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    color: white;
    padding: 4px 8px;
    font-size: 12px;
}

.overlap {
    position: relative;
    width: 300px;
    height: 200px;
    margin: 40px auto;

}

.i {
    position: absolute;
    width: 150px;


}

.img1 {
    left: 0;
    z-index: 1;

}

.img2 {
    left: 60px;
    top: 20px;
    z-index: 2;
}

.img3 {
    left: 120px;
    top: 40px;
    z-index: 3;
}

.contact-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #ff4081;
    color: whitesmoke;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 30px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.6);
}

.modal:target {
    display: block;

}

.modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    padding: 20px;
    width: 250px;
    text-align: center;
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
    text-decoration: none;
    font-size: 20px;
}