body{
    margin: 0;
    height: 2000px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

header{
    position: sticky;
    top: 0;
    background-color: #34495e;
    color: white;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    z-index: 10;
}

.relative {
    position: relative;
    left: 40px;
    top: 20px;
    width: 300px;
    height: 10px;
    background-color: #f1c40f;
    margin: 20px;
    padding: 10px;
    border: 2px solid grey;
}

.parent {
    position: relative;
     left: 50px;
     top: 50px;
    width: 300px;
    height: 150px;
    background-color: #ecf0f1;
    margin: 20px;
    padding: 10px;
    border: 2px solid black;
}

.child {
    position: absolute;
    border: 2px solid blue;
    bottom: 10px;
    right: 10px;
    color:white
    background-color: #3498db;
    padding: 6px 10px;
}

.fixed-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color:green;
    color:white;
    padding: 12px 16px;
    border-radius: 5px;
    text-decoration: none;

}

.box1 {
    position: relative;
    left: 50px;
    width: 150px;
    
    height: 150px;
    background-color: red;
    z-index: 1;
    margin: 20px;
    
}

.box2 {
    position: relative;
    left: 50px;
    width: 150px;
    height: 150px;
    background-color: blue;
    margin-top: -80px;
    margin-left: 60px;
    z-index: 2;

}