body{
    background-color: yellowgreen;
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8;
    margin: 0;
}

header{
    position: sticky;
    text-align: center;
    background-color: palevioletred;
    padding: 10px;
    font-size: 20px;
    top: 00;
    color: white;
}

.blog {
    padding: 20px;
    color: #333;
}

.blog ,h2 {
    color: #154c6e;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.blog ,p {
    text-align: center;
    font-size: 20px;

}

.card{
    background-color: white;
    width: 300px;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.product{
    position: relative;
}

.badge {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: plum;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 4px;
}

.contact-button {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: #ff8585;
    color: white;
    padding: 12px 18px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
}
