body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background-color: bisque;
}

.flex-box{
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.flex {
    background-color: #4caf50;
    color: white;
    padding: 20px;
    flex: 1;
    text-align: center;
}

.grid-box{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;

}
.grid {
    background-color: #2196f3;
    color: white;
    padding: 20px;
    text-align: center;
}

@media  (max-width:600px) {
    body {
        background-color: #ffe0b2;
    }

    p:hover{
        text-transform: uppercase;
        font-weight: bolder;
    }
    .flex-box{
        flex-direction: column;
    }

    .grid-box{
        grid-template-columns: repeat(2,1fr);
    }
    
}