body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f2f2;
}
section{
    padding: 40px 20px;
}
h2{
    text-align: center;
    margin-bottom: 20px;
}

.profile-card{
    width: 300px;
    background:white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin: auto;
}
.profile-card img{
    width: 100px;
    border-radius: 50%;
}

.profile-card button{
    margin: 5%;
    padding: 8px 15px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 5px;
}



nav{
    background: #333;
    padding: 10px;
    
}
nav ul{
    display: flex;
    list-style: none;
    padding: 10px;
    margin: 0;
    justify-content: center;
}
nav li{
    margin: 0 15px;

}

nav a{
    color: white;
    text-decoration: none;
}
@media (max-width:600px) {
    nav ul{
        flex-direction: column;
        align-items: center;
    }
    
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 10px;
}

.gallery img{
    width: 100%;
    border-radius: 8px;
}


.blog{
    display: flex;
    gap: 20px;
}
.post{
    flex: 3;
    background: white;
    padding: 20px;
}
.sidebar{
    flex: 1;
    background: #ddaa;
    padding: 20px;
}

.mobile-box{
    background: #4caf50;
    color: white;
    padding: 20px;
    text-align: center;
}

@media (min-width:768px) {
    .mobile-box{
    width: 50%;
    margin: auto;
}
.blog{
    flex-direction: row;
}
    
}

@media (max-width:700px) {
    .blog{
        flex-direction: column;
    }
    
}
